[Desktop Entry]                                                                                                                                                                                                                                                                
Exec=yakuake                                                                                                                                                                                                                                                                   
Icon=system-run                                                                                                                                                                                                                                                                
Path=                                                                                                                                                                                                                                                                          
Terminal=false                                                                                                                                                                                                                                                                 
Type=Application 
